[Desktop Entry]
Encoding=UTF-8
Name=Testcoin
Comment=Testcoin P2P Cryptocurrency
Exec=testcoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/testcoin;
Categories=Office;Finance;
Name[en_US]=testcoin-qt.desktop
