
# testcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
host=127.0.0.1
port=5887
#port=15887

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=f2cabfd2
genesis=b5070bb4044bade3bd85a0ab1dc76499492881e195de25d41d6e5c88827db57c
input=/home/example/.testcoin/blocks

# testnet
#netmagic=f8c4bfd8
#genesis=f1ad49a505cd63a53d06f5961d9d63e7575743525bfad90d5b8770bdcaa55bac
#input=/home/example/.testcoin/testnet3/blocks

output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt
split_year=1

# Maxmimum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000
